{% extends 'base.html.twig' %}

{% block title %}Application de Gestion de Dates!{% endblock %}

{% block body %}
    <style>
        /* Styles CSS */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #27282c;
            flex-direction: column;
            gap: 50px;
        }

        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
            text-align: center;
        }

        .example-wrapper code {
            background: #6bf3fa;
            padding: 2px 6px;
        }

        button {
            background-color: #1e9bff;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-bottom: 10px; /* Ajout d'une marge inférieure pour espacer les boutons */
        }

        a {
            position: relative;
            background: #FFFFFF ;
            color: #FFFFFF;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.5em;
            letter-spacing: 0.1em;
            font-weight: 400;
            padding: 10px 30px;
            transition: 0.5s;
        }
        a:hover
        {
            background: var(--clr);
            color: var(--clr);
            letter-spacing: 0.25em;
            box-shadow: 0 0 35px var(--clr);
        }
        a:before
        {
            content: '';
            position: absolute;
            inset: 2px;
            background: #27282c;
        }
        a span
        {
            position: relative;
            z-index: 1;
        }
        a i
        {
            position: absolute;
            inset: 0;
            display: block;
        }
        a i::before
        {
            content: '';
            position: absolute;
            top: 0;
            left: 80%;
            width: 10px;
            height: 4px;
            background: #27282c;
            transform: translateX(-50%) skewX(325deg);
            transition: 0.25s;
        }
        a:hover i::before
        {
            width: 20px;
            left: 20%;
        }
        a i::after
        {
            content: '';
            position: absolute;
            bottom: 0;
            left: 20%;
            width: 10px;
            height: 4px;
            background: #27282c;
            transform: translateX(-50%) skewX(325deg);
            transition: 0.25s;
        }
        a:hover i::after
        {
            width: 20px;
            left: 80%;
        }
    </style>

    <div class="example-wrapper">
        <h1 style="color: #FFFFFF">Application de gestion de date! 🗓️ </h1>

        <div style="color: #FFFFFF"> Bienvenue sur la page de connexion, connectez vous à votre compte ici ici</div>
        <br>
        <br>
        <a href="{{ path('liste') }}" class="btn" style="--clr:#1e9bff"><span>Liste</span><i></i></a>
        <a href="#" style="--clr:#D9D919"><span>Supprimer</span><i></i></a>
        <a href="{{ path('Ajout') }}" class="btn" style="--clr:#6eff3e"><span>Ajouter</span><i></i></a>
        <a href="{{ path('modifications') }}" class="btn" style="--clr:#9932CD"><span>Modifier</span><i></i></a>

        <a href="{{ path('app_nice_stuff') }}" class="btn" style="--clr:#ff1867"><span>Déconnexion</span><i></i></a>
    </div>
    {#        <ul>#}
    {#            <li style="color: #FFFFFF">Your controller at <code><a href="{{ 'C:/xampp/htdocs/www/Appli gestion dates anniversaires/APP/src/Controller/NiceStuffController.php'|file_link(0) }}">src/Controller/NiceStuffController.php</a></code></li>#}
    {#            <li style="color: #FFFFFF">Your template at <code><a href="{{ 'C:/xampp/htdocs/www/Appli gestion dates anniversaires/APP/templates/nice_stuff/index.html.twig'|file_link(0) }}">templates/nice_stuff/index.html.twig</a></code></li>#}
    {#        </ul>#}
    </div>
{% endblock %}
